<div class="card">
<div style="text-align: center;width: 100%;">
  <div class="card" style="width:46%;float: left;margin: 10px">
    <img class="card-img-top" src="../assets/img/ADAV.jpg" style="width:50%;margin-left: 25%">
    <div class="card-body">
      <p class="card-text">Lập Trình Android nâng cao</p>
    </div>
  </div>
  <div class="card" style="width:46%;float: left;margin: 10px">
    <img class="card-img-top" src="../assets/img/WEBU.jpg"style="width:50%;margin-left: 25%">
    <div class="card-body">
      <p class="card-text">Xây dựng trang web</p>
    </div>
  </div>
  <div class="card" style="width:46%;float: left;margin: 10px">
    <img class="card-img-top" src="../assets/img/DBBS.png" style="width:50%;margin-left: 25%">
    <div class="card-body">
      <p class="card-text">Cơ sở dữ liệu</p>
    </div>
  </div>
  <div class="card" style="width:46%;float: left;margin: 10px">
    <img class="card-img-top" src="../assets/img/DBAV.png" style="width:50%;margin-left: 25%">
    <div class="card-body">
      <p class="card-text">SQL server</p>
    </div>
  </div>
  </div>
  <div class="card-header" style="height: 40px;padding-left: 35%">
    <button style="border-radius: 10px; ">
      <span class="glyphicon glyphicon-hand-up"></span> Up
    </button>
    <button style="border-radius: 10px; ">
      <span class="glyphicon glyphicon-hand-left"></span> Left
    </button>
    <button style="border-radius: 10px; ">
      <span class="glyphicon glyphicon-hand-right"></span> Right
    </button>
    <button style="border-radius: 10px; ">
      <span class="glyphicon glyphicon-hand-down"></span> Down
    </button>
  </div>
  </div>
